*,*:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}/* обнуление */
html, body {
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: dimgrey;
}
.wrapper{
    overflow: hidden;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    min-height: 360px;
}

.parallax {
    flex: 1 0 100%;
    position: relative;
    overflow: hidden;
}

.parallax:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    /*background: linear-gradient(rgba(0,0,0,0)0%,rgba(0,0,0,1) 60%);*/
}
.parallax_list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax_list li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax_background {
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    background: url("img/background.jpg") 50% 100% / cover no-repeat;
}

.parallax_element{
    position: absolute;
}

.parallax_element span{
    display: inline-block;
    transform-origin: 50% 0;
    width: 280px;
    height: 280px;
    /*margin: 0px 0px 0px 200px;*/
    animation: swing 20s infinite alternate cubic-bezier(0.455,0.03,0.515,0.955);
}
.sun{
    opacity: .4;
    top: 28%;
    left: 20%;
    margin: -100px 220px 220px 120px !important;
}
.sun span{
    background: url("img/sun.png") 0 0 / 100% no-repeat;
}

.moon{
    top: 10%;
    left: 10%;
    width: 18px !important;
    height: 18px !important;
    margin: 0px 0px 0px 780px !important;
}
.moon span{
    opacity: .1;
    background: url("img/moon.png") 0 0 / 20% no-repeat;
}

.parallax_sky{
    opacity: .9;
    position: absolute;
    background:  url("img/waves/sky.png")0 0 / auto 101% repeat-x;
    left: -100%;
    width: 300%;
}

.parallax_sky_1{
    bottom: 320px;
    height: 320px;
    animation: wave 17.111111s 0.1s infinite linear;
    background:url("img/waves/sky2.png")0 0 / auto 101% repeat-x;
}
.parallax_sky_2{
    bottom: 300px;
    height: 320px;
    animation: wave 17.111111s 0.1s infinite linear;
    background:url("img/waves/sky2.png")0 0 / auto 101% repeat-x;
}
.parallax_sky_3{
    bottom: 250px;
    height: 252px;
    animation: wave 32.666667s 0.1s infinite linear;
    background:url("img/waves/sky.png")0 0 / auto 101% repeat-x;
}
.parallax_sky_4{
    bottom: 180px;
    height: 180px;
    animation: wave 53.111111s 0.1s infinite linear;
    background:url("img/waves/sky.png")0 0 / auto 101% repeat-x;
}


.parallax_wave{
    position: absolute;
    background:  url("img/waves/wave-plain.png")0 0 / auto 101% repeat-x;
    left: -100%;
    width: 300%;
}

.parallax_wave_1{
    bottom: 180px;
    height: 86px;
    animation: wave 7.111111s 0.1s infinite linear;
    background:url("img/waves/wave-plain.png")0 0 / auto 101% repeat-x;
}

.parallax_wave_2{
    bottom: 144px;
    height: 115px;
    animation: wave 6.666667s 0.1s infinite linear;
}

.parallax_wave_3{
    bottom: 108px;
    height: 144px;
    animation: wave 6.22222s 0.1s infinite linear;
    background:url("img/waves/wave-plain.png")0 0 / auto 101% repeat-x;
}

.parallax_wave_4{
    bottom: 72px;
    height: 173px;
    animation: wave 5.777778s 0.1s infinite linear;
}

.parallax_wave_5{
    bottom: -1px;
    height: 230px;
    animation: wave 4.8888s 0.1s infinite linear;
}

.parallax_wave_6{
    bottom: -72px;
    height: 288px;
    animation: wave 4.5s 0.1s infinite linear;
    background:url("img/waves/wave-plain.png")0 0 / auto 101% repeat-x;
}

.parallax_Krishna{
background: url("img/Krishna.png") 0 0 / 101% no-repeat;
    width: 300px;
    height: 330px;
    position: absolute;
    right: 12%;
    bottom: 140px;/*50px;*/
    animation: Krishna 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.content{

}

@keyframes swing {
     0%{
         transform: rotateZ(10deg);
     }
    100%{
        transform: rotateZ(-10deg);
    }
}

@keyframes wave {
    0%{
        transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    }
}

@keyframes Krishna {
    0%{
        transform: translate3d(15%,0,0) rotateY(10deg);
    }
    100%{
        transform: translate3d(-15%,0,0) rotateY(-10deg);
    }
}












/*
.parallax_element_1{
    top: 28%;
    left: 20%;
}
.parallax_element_1 span{
    background: url("img/clouds/ext/board-cloud-2.png") 0 0 / 100% no-repeat;
}

.parallax_element_2{
    top: 46%;
    left: 40%;
}
.parallax_element_2 span{
    background: url("img/clouds/ext/board-cloud-1.png")0 0 / 100% no-repeat;
}

.parallax_element_3{
    top: 24%;
    left: 80%;
}
.parallax_element_3 span{
    background: url("img/clouds/ext/board-birds.png")0 0 / 100% no-repeat;
}

.parallax_element_4{
    top: 10%;
    left: 17%;
}
.parallax_element_4 span{
    background: url("img/clouds/ext/board-cloud-2.png")0 0 / 100% no-repeat;
}

.parallax_element_5{
    top: 50%;
    left: 56%;
}
.parallax_element_5 span{
    background: url("img/clouds/ext/board-cloud-4.png")0 0 / 100% no-repeat;
}

.parallax_element_6{
    top: 30%;
    left: 57%;
}
.parallax_element_6 span{
    background: url("img/clouds/ext/board-birds.png")0 0 / 100% no-repeat;
}

.parallax_element_7{
    top: 60%;
    left: 65%;
}
.parallax_element_7 span{
    background: url("img/clouds/ext/board-cloud-2.png")0 0 / 100% no-repeat;
}

.parallax_element_8{
    top: 80%;
    left: 45%;
}
.parallax_element_8 span{
    background: url("img/clouds/ext/board-cloud-3.png")0 0 / 100% no-repeat;
}
*/
/*
.parallax_rope{
    position: absolute;
    width: 120%;
    height: 10%;
}

.parallax_rope img{
    width:  100%;
}

.parallax_rope1{
    top: 5%;
    transform: scale(1);
}

.parallax_rope2{
    top: -1.66667%;
    transform: scale(1.05556);
}

.parallax_rope3{
    top: -11.66667%;
    transform: scale(1.13889);
}
*/